*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.container{
    display: f;
    width: 1044px;
    margin: 0 auto;
}
.btn-primary{
    background-color: #E6533C;
    color:white;

    padding: 15px 20px;
    border-radius: 42px;
    border:none;
    font-weight: 300;
    font-size: 18px;
}

.btn-secondary{
    padding: 15px 20px;
    border-radius: 42px;
    background-color: transparent;
    border:2px solid white;
    color :white;
}

body{
    background-color: black;
    color:white;
}

header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu{
    display: flex;
    gap: 47px;
    border: 2px solid #2f2f2f;
    padding: 8px;
    border-radius: 39px;
}

.menu-item{
    color:white;
    background-color: transparent;
    border:none;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 42px;

}

.menu-item:hover{
    background-color: #E6533C;
    border:none;

}
.logo{
    background: url("/images/Fitness.png");
    background-repeat: no-repeat;
    height: 43px;
    width: 132px;
}
.hero-parent{
    background: linear-gradient(0deg, rgba(0,0,0,1) 2%, rgba(88,88,88,0.5) 50%, rgba(0,0,0,1) 100%);
}
.hero{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    margin-bottom: 100px;

    .left{
        display: flex;
        flex-direction: column;
        gap:20px
    
    }
    .hero-title{
        font-size: 58px;
        line-height: 80px;
        span{
            font-style: italic;
            font-weight: 100;
        }
    
    }
    p{
        font-size: 16px;
        color:rgba(255,255,255,0.5)
    }
    .cta{
        display: flex;
        gap: 10px;
    }
}

.habit{
    margin-bottom: 100px;
    .title{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:14px;
        margin-bottom: 54px;
        h1{
            font-size: 48px;
            line-height: 120%;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.5);
            width: 50%;
        }
    }
    .h-img{
        display: flex;
        align-items: center;
    
        gap: 100px;
        padding: 5px;
        .image{
            display: flex;
            flex-direction: column;
            text-align: center;
            img{
                border-radius: 50%;
            }
            h5{
                font-size: 18px;
                font-weight: 600;
                margin-top: 15px;
                margin-bottom: 8px;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color:rgba(255, 255, 255, 0.5);
            }
        }
    }
}



.run{
    padding: 41px 54px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    .left{
        flex-basis: 38%;
        h1{
            font-size: 48px;
            font-weight: 900;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color:400;
            margin-bottom: 34px;
            margin-top: 14px;
        }
    }
    .right{
        flex-basis: 40%;
        .run-img{
            width: 100%;
            height: 300px;
            border-radius: 18px;
            background: url(images/run.jpg);
            background-position: 67% 30%;
        }
    }
}


.bmi{
    .title{
        width: 50%;
        margin: 0 auto;
        h1{
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 48px;
            font-weight: 900;
            margin-bottom: 14px;
        }
        p{
            color: rgba(255, 255, 255, 0.5);
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            /* width: 50%; */
            margin-bottom: 58px;
        }
    }
}
.bmi-main{
    background-color: #2f2f2f;
    border-radius: 5px;
    padding: 50px;
        .bmi-left{
            padding: 30px;
            h1{
            margin-bottom: 2rem;
            }
            table{
                width: 35%;
                border-collapse: collapse;
            }
            td,th{
                border: 1px solid rgba(255, 255, 255, 0.5);
                padding: 10px;
                text-align: center;
                color: grey;
            }
            
        }
        .bmi-right{
            float: right;
            width: 40%;
            margin-top:-320px;
            padding: 40px;
            

            h1{
                margin-bottom: 1rem;
            }
            p{
                font-size: 12px;
                margin-bottom: 20px;
                color: grey;
            }
            .form{
                input{
                    width: 44%;
                    padding:7px 10px;
                    border: none;
                    border-radius: 5px;
                    margin-bottom: 5px;
                    background: #d7d4d4;
                    color: azure;
                }
                .select-1{
                    width: 49%;
                    padding: 7px 15px;
                    border-radius: 5px;
                    border: none;
                    color: grey;
                    background: #d7d4d4;
                }
                .select-2{
                    width: 99%;
                    padding: 7px 15px;
                    border-radius: 5px;
                    border: none;
                    color: grey;
                    background: #d7d4d4;
                }
                .cal-btn{
                    padding: 10px 30px;
                    margin-top: 20px;
                    border: none;
                    background: #E6533C;
                    border-radius: 50px 50px;
                    a{
                        text-decoration: none;
                        color: aliceblue;
                    }
                }
                
            }
        }
}
.team{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    h1{
        font-size: 35px;
        margin-bottom: 15px;
    }
    p{
        font-size: 15px;
        color: grey;
        margin-bottom: 50px;
    }
    .align-b-left{
        text-align: left;
        h3{
            margin-top: 200px;
        }
        
    }
    .team-img{
        padding: 20px;
        border-radius: 5px;
        background-color: #2f2f2f;
        display: grid;
        row-gap: 15px;
        column-gap: 15px;
        grid-template-columns: repeat(3,1fr);
        .trainer-1{
            border-radius: 10px;
            height: 250px;
            padding: 15px;
            background-image: url('images/trainer1.png');
            background-size: cover;
            background-repeat: no-repeat;
            
        }
        .trainer-2{
            border-radius: 10px;
            height: 250px;
            padding: 15px;
            background-image: url('images/trainer2.png');
            background-size: cover;
            background-repeat: no-repeat; 
        }
        .trainer-3{
            border-radius: 10px;
            height: 250px;
            padding: 15px;
            background-image: url('images/trainer3.png');
            background-size:cover;
            background-repeat: no-repeat; 
        }
        .trainer-4{
            border-radius: 10px;
            height: 250px;
            padding: 15px;
            background-image: url('images/trainer4.png');
            background-size:cover;
            background-position: center;
            background-repeat: no-repeat; 
        }
        .trainer-5{
            border-radius: 10px;
            height: 250px;
            padding: 15px;
            background-image: url('images/trainer5.png');
            background-size: cover;
            background-repeat: no-repeat; 
        }
        .trainer-6{
            border-radius: 10px;
            height: 250px;
            padding: 15px;
            background-image: url('images/trainer6.png');
            background-size: cover;
            background-repeat: no-repeat; 
        }
    }
}





